@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Ant Design styles */
@import "antd/dist/reset.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-gradient: linear-gradient(to right, #eff6ff, #e0e7ff, #f3e8ff);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-gradient);
}
